---
import { getEventPhotos } from "@utils/meetup";
import PreviewPhotosDialog from "./previewphotosdialog.astro";

const { event } = Astro.props;
const photos = await getEventPhotos(event);
---

{
  photos.length && (
    <section
      class="flex flex-col gap-4 mx-auto max-w-4xl mt-24">
      <h2 class="font-bold text-5xl text-gray-800">Photos</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        {photos.map(({ photo_link, highres_link, id }) => (
          <img
            src={photo_link}
            alt="meetup photo"
            data-photo={highres_link}
            class="w-full h-auto rounded aspect-[4/3] object-cover cursor-pointer"
            id={id}
          />
        ))}
      </div>
    </section>
    <PreviewPhotosDialog  />
  )
}
