<dialog
  id="photo-dialog"
  class="bg-transparent backdrop:bg-black backdrop:bg-opacity-75 rounded-lg min-w-xl max-w-4xl w-full p-4">
  <div class="relative">
    <img
      id="dialog-photo"
      alt="Large event photo"
      class="w-full h-auto rounded-lg max-h-[80vh] object-cover"
    />
    <button
      id="close-button"
      class="absolute top-2 right-2 text-white bg-gray-800 rounded-full w-8 h-8 md:w-12 md:h-12 transition-all bg-opacity-50 hover:bg-opacity-100">
      ✕
    </button>
    <button
      id="arrow-prev"
      class="absolute top-1/2 left-2 text-white bg-gray-800 bg-opacity-50 hover:bg-opacity-100 transition-all -translate-y-1/2 rounded-full w-8 h-8 md:w-12 md:h-12 text-lg">
      {"<"}
    </button>
    <button
      id="arrow-next"
      class="absolute right-2 top-1/2 text-white bg-gray-800 bg-opacity-50 hover:bg-opacity-100 transition-all -translate-y-1/2 rounded-full w-8 h-8 md:w-12 md:h-12 text-lg">
      {">"}
    </button>
  </div>
</dialog>

<script>
  const dialog = document.getElementById("photo-dialog") as HTMLDialogElement;
  const dialogPhoto = document.getElementById(
    "dialog-photo"
  ) as HTMLImageElement;
  const closeButton = document.getElementById(
    "close-button"
  ) as HTMLButtonElement;
  const rightArrow = document.getElementById("arrow-next") as HTMLButtonElement;
  const leftArrow = document.getElementById("arrow-prev") as HTMLButtonElement;

  const photoElements = document.querySelectorAll(
    "[data-photo]"
  ) as NodeListOf<HTMLImageElement>;

  const photoUrls = Array.from(photoElements).map(
    (photoElement) => photoElement.getAttribute("data-photo") || ""
  );

  if (photoUrls.length < 2) {
    rightArrow.style.display = "none";
    leftArrow.style.display = "none";
  }

  let currentIndex = 0;

  function updatePhoto(index) {
    currentIndex = (index + photoUrls.length) % photoUrls.length;
    dialogPhoto.src = photoUrls[currentIndex];
  }

  photoElements.forEach((photoElement, index) => {
    photoElement.addEventListener("click", () => {
      dialogPhoto.src = photoElement.getAttribute("data-photo") || "";
      dialogPhoto.addEventListener(
        "load",
        () => {
          dialog.showModal();
          currentIndex = index;
        },
        { once: true }
      );
    });
  });

  closeButton.addEventListener("click", () => {
    dialog.close();
    dialogPhoto.src = "";
  });

  dialog.addEventListener("click", (e) => {
    if (e.target === dialog) {
      dialog.close();
      dialogPhoto.src = "";
    }
  });

  dialog.addEventListener("keydown", (e) => {
    if (e.key === "ArrowRight") updatePhoto(currentIndex + 1);
    else if (e.key === "ArrowLeft") updatePhoto(currentIndex - 1);
  });

  leftArrow.addEventListener("click", () => updatePhoto(currentIndex - 1));
  rightArrow.addEventListener("click", () => updatePhoto(currentIndex + 1));
</script>
