---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Submittalk from "@components/submittalk.astro";
import Meetuplink from "@components/meetuplink.astro";
import { Picture } from "astro:assets";

import attending1 from "../assets/events/highres_519891629.jpeg";
import attending2 from "../assets/events/highres_478125016.jpeg";

import speaker1 from "../assets/events/highres_513791303.jpeg";
import speaker2 from "../assets/events/highres_513791308.jpeg";
---

<Layout title="Conference">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Conference</Fragment>
      <Fragment slot="desc">revo.js</Fragment>
    </Sectionhead>

    <section class="flex flex-col gap-6 mx-auto max-w-4xl mt-24">
      <h2 class="font-bold text-5xl text-gray-800" id="conference">
        revo.js conference
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Technology focused. Community driven. JavaScript conference.
      </p>
      <ul class="list-disc px-8 text-lg leading-relaxed text-slate-500 ml-4">
        <li>2 full days of technical focused talks</li>
        <li>single track conference</li>
        <li>community driven, not-for-profit event</li>
        <li>16+ international speakers</li>
        <li>300+ participants</li>
        <li>lunch and beverages included</li>
        <li>engaging After Party</li>
      </ul>
      <p class="text-lg leading-relaxed text-slate-500">
        Checkout the dedicated <a
          href="https://revojs.ro"
          class="underline text-blue-500">revo.js website</a
        > and follow us on your preferred platform or subscribe to the newsletter
        to stay up-to-date with all the official revo.js announcements.
      </p>
    </section>
  </Container>
</Layout>
