---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import Submittalk from "@components/submittalk.astro";
import Meetuplink from "@components/meetuplink.astro";

const conferenceFacts = [
  "2 full days of technical focused talks",
  "single track conference",
  "community driven, not-for-profit event",
  "16+ international speakers",
  "around 300 participants",
  "engaging After Party",
  "lunch and beverages included",
];

const speakerPerks = [
  "Video recording of your talk",
  "tim.js sticker",
  "tim.js speaker t-shirt (on your second talk)",
]

---
<Layout title="Events">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Events</Fragment>
      <Fragment slot="desc">Meetups & Conference</Fragment>
    </Sectionhead>
      <section class="flex flex-col gap-6 mx-auto max-w-4xl mt-24">
        <h2 class="font-bold text-5xl text-gray-800">Meetups</h2>
        <p class="text-xl leading-relaxed text-slate-500">
          We're organizing monthly meetups since 2013, free for everyone to attend. They usually take place on Wednesdays at 18:30.
        </p>
        <div class="flex gap-6">
          <Meetuplink/>
          <Submittalk/>
        </div>
        <h3 class="font-bold text-3xl text-gray-800">Attending</h3>
        <p class="text-xl leading-relaxed text-slate-500">
          The regular audience is quite diverse. There are core members that attend the meetup every month, since the beginning. Others that attend only now and then, when they see interesting topics on the agenda.
        </p>
        <p class="text-xl leading-relaxed text-slate-500">
          Since we touch upon all experience levels, we have a wide mix of participants, from new comers to web development, to senior developers with decades of experience, and everything in between.
        </p>
        <h3 class="font-bold text-3xl text-gray-800">Why should you attend?</h3>
        <ul class="list-disc list-inside text-xl leading-relaxed text-slate-500">
          <li>Gain insights about new technologies, concepts, and practices that you don't encounter in your day to day job.</li>
          <li>Learn from others' experiences.</li>
          <li>Exchange ideas, ask questions, debate your dilemmas.</li>
        </ul>
        <Meetuplink/>
        <h3 class="font-bold text-3xl text-gray-800">Speaking</h3>
        <p class="text-xl leading-relaxed text-slate-500">
          tim.js is the perfect place to share your knowledge with the local Web and JavaScript community. Whether you're working on your first talk or you've been on large stages before, we would love to hear you out.
        </p>
        <h3 class="font-bold text-3xl text-gray-800">Why speak at tim.js?</h3>
        <ul class="list-disc list-inside text-xl leading-relaxed text-slate-500">
          <li>Pass your experience to others.</li>
          <li>Challenge yourself to understand a topic by teaching it.</li>
          <li>Get feedback on your speaking skills.</li>
          <li>Practice your conference proposals.</li>
        </ul>
        <h3 class="font-bold text-3xl text-gray-800">What you get as a speaker?</h3>
          <ul class="list-disc list-inside text-xl leading-relaxed text-slate-500">
          {
            speakerPerks.map((item) => (
            <li>
              <span>{item}</span>
            </li>))
          }
          </ul>
        <Submittalk/>
        <h3 class="font-bold text-3xl text-gray-800">Covered topics</h3>
        <p class="text-xl leading-relaxed text-slate-500">
          We address the entire JavaScript ecosystem, including but not limited to: User Interfaces/Frontend, Node.js/Backend, web/mobile/desktop/hardware, standard APIs/ES/DOM, libraries/frameworks, practices/patterns/paradigms/concepts etc.
        </p>
        <p class="text-xl leading-relaxed text-slate-500">
          We don't specifically focus on HTML or CSS, but since they are closely related to UI/Frontend development, they are not out-of-scope.
        </p>
        <p class="text-xl leading-relaxed text-slate-500">
          We don't focus on other languages that compile to JavaScript, such as ScalaJS, ClojureScript, Reason, Elm, etc. as it would widen our focus too much. Exceptions are JS supersets and type checkers like TypeScript or Flow.
        </p>
      </section>
      <section class="flex flex-col gap-6 mx-auto max-w-4xl mt-24">
        <h2 class="font-bold text-5xl text-gray-800">revo.js conference</h2>
        <p class="text-xl leading-relaxed text-slate-500">
          Technology focused. Community driven. JavaScript conference.
        </p>
        <ul class="list-disc list-inside text-xl leading-relaxed text-slate-500">
          {
            conferenceFacts.map((item) => (
            <li>
              <span>{item}</span>
            </li>))
          }
        </ul>
        <p class="text-xl leading-relaxed text-slate-500">
          Checkout the dedicated <a href="https://revojs.ro" class="underline text-blue-500">revo.js website</a> and follow us on your preferred platform or subscribe to the newsletter
          to stay up-to-date with all the official revo.js announcements.
        </p>
      </section>
  </Container>
</Layout>
