---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Revojs from "@components/revojs.astro";
import UpcomingEvents from "@components/UpcomingEvents/upcomingevents.astro";
---

<Layout title="">
  <Container>
    <main class="min-h-[calc(100svh-16rem)]flex flex-col">
      <Hero />
      <UpcomingEvents />
      <Revojs />
    </main>
  </Container>
</Layout>
