---
import Container from "@components/container.astro";
import { Astronav, MenuItems } from "astro-navbar";

const menuitems = [
  {
    title: "About",
    path: "/about/",
  },
  {
    title: "Events",
    path: "/events/",
  },
  {
    title: "Contact",
    path: "/contact/",
  },
];
const { pathname } = Astro.url;
---

<Container>
  <header class="flex flex-row flex-col items-center justify-center my-16">
    <Astronav>
      <MenuItems class="flex w-auto w-full mt-0 mt-2">
        <ul class="flex flex-row gap-3">
          {
            menuitems.map((item) => (
              <li>
                <a
                  href={item.path}
                  class:list={[
                    "block relative w-fit mx-3 md:mx-6 text-gray-800 text-lg md:text-xl after:block after:absolute after:h-[3px] after:bg-brand after:w-full after:scale-x-0 after:hover:scale-x-100 after:duration-300 after:origin-left",
                    pathname === item.path && "after:scale-x-100 font-bold",
                  ]}>
                  <span> {item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
