---
import Icon from "astro-icon";
import Container from "./container.astro";

const socials = [
  {
    name: "meetup",
    href: "https://www.meetup.com/tim-js/",
  },
  { name: "discord", href: "https://discord.com/invite/fTYxvBeBHr" },
  { name: "twitter", href: "https://twitter.com/timjscommunity" },
  {
    name: "youtube",
    href: "https://www.youtube.com/c/timjs/videos",
  },
];
---

<footer class="mt-20 mb-8">
  <Container class="flex flex-row items-center justify-center gap-4">
    {
      socials.map((social) => (
        <a
          href={social.href}
          class="rounded-full transition translate-y-0 hover:-translate-y-1"
          rel="noopener noreferrer"
          target="_blank">
          <div class="p-2 bg-gray-800 rounded-full">
            <Icon
              class="h-6 text-white md:h-7"
              name={`simple-icons:${social.name}`}
            />
          </div>
        </a>
      ))
    }
  </Container>
</footer>
