---
import { Icon } from "astro-icon/components";
import Container from "./container.astro";

const socials = [
  {
    name: "luma",
    href: "https://lu.ma/timjs",
    icon: "local:luma",
  },
  {
    name: "linkedin",
    href: "https://www.linkedin.com/company/tim-js",
  },
  { name: "discord", href: "https://discord.com/invite/fTYxvBeBHr" },
  { name: "bluesky", href: "https://bsky.app/profile/timjs.ro" },
  {
    name: "youtube",
    href: "https://www.youtube.com/c/timjs/videos",
  },
];
---

<footer class="mt-20 mb-8">
  <Container class="flex flex-row items-center justify-center gap-4">
    {
      socials.map((social) => (
        <a
          href={social.href}
          class="rounded-full transition translate-y-0 hover:-translate-y-1"
          rel="noopener noreferrer"
          target="_blank">
          <div class="p-2 bg-gray-800 rounded-full">
            <Icon
              class="w-6 h-6 md:w-7 md:h-7 text-white"
              name={social.icon ?? `simple-icons:${social.name}`}
            />
          </div>
        </a>
      ))
    }
  </Container>
</footer>
