---
import { TimJsLogo } from "./ui/icons";
---

<main
  class="grid min-h-[calc(100svh-16rem)] grid-rows-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <h1
    class="text-3xl md:text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-center">
    Timisoara JavaScript community
  </h1>
  <div class="flex justify-center w-full">
    <TimJsLogo className="w-full sm:w-2/3 lg:w-1/2 px-2" />
  </div>
</main>
