---
import Button from "./ui/button.astro";
import { TimJsLogo } from "./ui/icons";
import heroImage from "../assets/home/highres_513791295.jpeg";
import Submittalk from "./submittalk.astro";
import { Picture } from "astro:assets";
---

<section class="grid place-items-center">
  <div class="w-full rounded-lg bg-slate-700 aspect-auto md:aspect-video">
    <Picture
      src={heroImage}
      alt="tim.js meetup"
      class="w-full h-full object-cover rounded-lg filter-none md:filter grayscale-[50%] brightness-50"
    />
  </div>
  <div class="relative flex flex-col items-center gap-2 md:absolute md:gap-4">
    <TimJsLogo className="hidden md:block w-3/5" variant="light" />
    <h1
      class="mt-8 text-4xl font-bold text-center text-gray-800 md:mt-0 md:text-white lg:text-5xl">
      Timișoara JavaScript Community
    </h1>
    <div class="relative flex flex-col gap-4 mt-4 md:mt-16 sm:flex-row">
      <Submittalk />
      <a
        href="https://discord.com/invite/fTYxvBeBHr"
        target="_blank"
        rel="noopener noreferrer">
        <Button class="bg-black hover:bg-gray-900 w-60">
          <p class="text-white">Join our Discord</p>
        </Button>
      </a>
    </div>
  </div>
</section>
