---
import Button from "./ui/button.astro";
import Carousel from "./ui/carousel.svelte";
---

<main
  class="flex flex-col min-h-[calc(100svh-16rem)] gap-20 items-center justify-start pt-16 md:pt-12 text-center">
  <header class="flex flex-col items-center gap-8">
    <h1
      class="text-3xl font-bold md:text-5xl lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter">
      Timisoara JavaScript community
    </h1>
    <h3 class="text-md lg:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </h3>
    <Button class="bg-brand hover:bg-yellow-500"
      ><span class="text-gray-800">CFP meetup</span></Button
    >
  </header>
  <div class="flex justify-center w-full">
    <Carousel client:load />
  </div>
</main>
