---
import Button from "./ui/button.astro";
---

<a
  href="https://www.meetup.com/tim-js/"
  target="_blank"
  rel="noopener noreferrer">
  <Button class="w-60 bg-brand hover:bg-yellow-400">
    <p class="text-black">Join tim.js meetup</p>
  </Button>
</a>
