---
import Button from "./ui/button.astro";
import { SUBMIT_TALK_URL } from "../constants";
---

<a href={SUBMIT_TALK_URL} target="_blank" rel="noopener noreferrer">
  <Button class="w-60 bg-brand hover:bg-yellow-400">
    <p class="text-black">Submit your meetup talk</p>
  </Button>
</a>
